/*********************
 * banner 樣式
*********************/
.section_banner {
  min-height: 100vh;
  .banner_container {
    max-width: 1140px;
    margin: 0 auto;
  }
  img {
    width: 100%;
  }
}
/***********************
 * css樣式請輸入在上方{}內
 ***********************/
