/*********************
 * banner 樣式
*********************/
.section_banner {
  .container {
    box-shadow: 0.3rem 0.3rem 0.2rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    overflow: hidden;
  }
  .banner_img {
    border-radius: 1rem;
    width: 100%;
  }
}

@media screen and (max-width: $md) {
  .section_banner {
    .container {
      box-shadow: none;
      border-radius: 0;
    }
    .banner_img {
      border-radius: 0;
      width: 120%;
    }
  }
}
