.section_community {
  padding: 6rem;

  .photo {
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    width: (100vw / 6);
    height: (100vw / 6);
  }
}

@media screen and (max-width: $xl) {
  .section_community {
    padding: 5rem;
    .photo {
      width: (20vw);
      height: (20vw);
    }
  }
}

@media screen and (max-width: $lg) {
  .section_community {
    padding: 4rem;
    .photo {
      width: (25vw);
      height: (25vw);
    }
  }
}

@media screen and (max-width: $md) {
  .section_community {
    padding: 2rem;
    .photo {
      width: (40vw);
      height: (40vw);
    }
  }
}

@media screen and (max-width: $sm) {
  .section_community {
    padding: 1.5rem;
    .photo {
      width: (80vw);
      height: (80vw);
    }
  }
}
