@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
  font-family: "Noto Sans TC", sans-serif;
}

html {
  font-size: 10px;
}

// 手機含平板寬度設定
$screen-max-width: 768px;
// 主色
$primary-color: #8aa2b7;
// 背景色
$bg-color: #e5e7ec;

h1 {
  font-size: 6rem; // h1 60px
}

h2 {
  font-size: 3.2rem; // h2 32px
}

h3 {
  font-size: 2.6rem; // h3 26px
}

h4 {
  font-size: 1.8rem; // h4 18px
}

h5 {
  font-size: 1.6rem; // h5 16px
}

h6 {
  font-size: 1.2rem; // h6 12px
}

p {
  font-size: 1.8rem;
}

// footer
.footer_title {
  font-size: 20px;
}

.footer_content {
  font-size: 18px;
}
