@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

// 螢幕寬度大小
$xl: 1200px;
$lg: 992px;
$sm: 540px;

/********************************
 * 默認顔色設定
 *******************************/
$dark-color: #8ba2b7; // 暗色
$light-color: #fef5f3; //亮色
$cover-color: $dark-color;
$font-color: rgb(46, 45, 45); //字體顔色
$navbar-color: rgba(0,0,0,0.7);
$navbar-menu-color: #8ba2b7;

/********************************
 * 默認間距設定
 *******************************/
$navbar-padding: 1rem 1rem;

/********************************
 * 默認文字設定
 *******************************/
html {
  font-size: 10px;
}

// 默認字體設置 (思源黑體)
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  // font-family: "Noto Sans TC", sans-serif;
  font-family: "cwTeXYen", sans-serif;
  color: $font-color;
}

h1 {
  font-size: 6rem; // h1 60px
}

h2 {
  font-size: 3.2rem; // h2 32px
}

h3 {
  font-size: 2.6rem; // h3 26px
}

h4 {
  font-size: 2.4rem; // h4 24px
}

h5 {
  font-size: 2.2rem; // h5 22px
}

h6 {
  font-size: 2rem; // h6 20px
}

p {
  font-size: 2.2rem; // p 22px
}

span {
  font-size: 2.2rem; // p 22px
  cursor: pointer;
}



/********************************
 * Navbar-設定 (.section_navbar)
 *******************************/
.section_navbar {
  .option {
    font-size: 2.0rem;
    color: $light-color;
  }
}

/********************************************
 * Navbar手機版-設定 (.section_navbar_mobile)
 *******************************************/
.section_navbar_mobile {
  h3 {
    font-size: 3rem;
    font-weight: 300;
    color: white;
  }
}

.section_navbar_menu_mobile {

}

/********************************
 * Banner-設定 (.section_banner)
 *******************************/
.section_banner {
}

/********************************
 * 品牌概念-設定 (.section_brand)
 *******************************/
.section_brand {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    // font-family: "cwTeXFangSong", "STFangSong", "FangSong", "Noto Sans TC", sans-serif;
    // font-family: "cwTeXYen", sans-serif;
    color: $font-color;
  }
  .intro_taste {
    h1, h2, h3, h4, h5, h6, p ,span {
    color : white;
    }
  }
}

/********************************
 * 菜單-設定 (.section_menu)
 *******************************/

.section_menu {
  h4 {
    font-weight: 600;
  }

  h4,
  h5,
  h6 {
    font-family: "cwTeXYen", sans-serif;
    margin: 0;
  }
}

/********************************
 * Footer-設定 (.section_footer)
 *******************************/
.section_footer {
  .footer_title {
    font-size: 2rem;
  }

  .footer_content {
    font-size: 1.8rem;
  }
}

/********************************
 * 螢幕寬度 < xl-1200px
 *******************************/
@media screen and (max-width: $xl) {
  body {
    // background-color: rgb(235, 177, 177);
  }
}

/********************************
 * 螢幕寬度 < lg-992px
 *******************************/
@media screen and (max-width: $lg) {
  body {
    // background-color: rgb(156, 156, 231);
  }
}

/********************************
 * 螢幕寬度 < sm-540px
 *******************************/
@media screen and (max-width: $sm) {
  body {
    // background-color: rgb(184, 221, 184);
  }

  html {
    font-size: 8px;
  }

  p,
  span {
    font-size: 2rem;
  }
}
