@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

$xl: 1200px;
$lg: 992px;
$sm: 540px;

* {
  font-family: "Noto Sans TC", sans-serif;
  // font-style: regular;
  // font-weight: 300;
}

html {
  font-size: 10px;
}

// 手機含平板寬度設定
$screen-max-width: 768px;
// 主色
$primary-color: #8aa2b7;
// 背景色
$bg-color: #e5e7ec;

h1 {
  font-size: 6rem; // h1 60px
}

h2 {
  font-size: 3.2rem; // h2 32px
}

h3 {
  font-size: 2.6rem; // h3 26px
}

h4 {
  font-size: 2.4rem; // h4 24px
}

h5 {
  font-size: 2.2rem; // h5 22px
}

h6 {
  font-size: 1.6rem; // h6 16px
}

p {
  font-size: 1.8rem; // p 18px
}

span {
  font-size: 1.8rem; // p 18px
}

.nav_title {
  font-size: 1.8rem;
  font-weight: 300;
}


// footer
.footer_title {
  font-size: 2rem;
}

.footer_content {
  font-size: 1.8rem;
}

@media screen and (max-width: $xl) {
  body {
    background-color: rgb(235, 177, 177);
  }
}

@media screen and (max-width: $lg) {
  body {
    background-color: rgb(156, 156, 231);
  }
}

@media screen and (max-width: $sm) {
  body {
    background-color: rgb(184, 221, 184);
  }

  html {
    font-size: 8px;
  }

  p,
  span {
    font-size: 2rem;
  }
}
