/*************************
 * 社群照片展示 樣式
 *************************/
.section_community {
  padding-top: 4rem;
  padding-bottom: 4rem;

  .title {
    font-size: 6rem;
    padding-bottom: 4rem;
  }

  .neon {
    font-size: 8rem;
    padding-bottom: 4rem;
  }

  .neon {
    animation: neon 3s ease infinite;
  }

  .photo_swiper {
    padding: 4rem 4rem;
    position: relative;
  }

  .swiper_btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    color: gray;
    opacity: 0.4;
    transition-duration: 0.2s;
    user-select: none;

    &:nth-child(even) {
      left: 0;
      transform: translate(0, -50%);
    }

    &:nth-child(odd) {
      right: 0;
      transform: translate(0, -50%);
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 1;
    }
  }

  // 設定照片位置及大小
  .photo {
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    width: (100vw / 6);
    height: (100vw / 6);
  }
}

/*************************
 * 使照片隨着螢幕寬度大小縮放
 *************************/
@media screen and (max-width: $xl) {
  padding: 1rem;
  .photo_swiper {
    .photo {
      width: (20vw);
      height: (20vw);
    }
  }
}

@media screen and (max-width: $lg) {
  .photo_swiper {
    padding: 1rem;
    .photo {
      width: (25vw);
      height: (25vw);
    }
  }
}

@media screen and (max-width: $md) {
  .photo_swiper {
    padding: 0rem;
    .photo {
      width: (35vw);
      height: (35vw);
    }
  }
}

@media screen and (max-width: $sm) {
  .photo_swiper {
    .photo {
      width: (80vw);
      height: (80vw);
    }
  }
}
