@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

// 螢幕寬度大小
$xl: 1200px;
$lg: 992px;
$sm: 540px;

// 主色
$primary-color: #8aa2b7;
// 背景色
$bg-color: #e5e7ec;

//字體顔色
$font-color: rgb(80, 80, 80);

/********************************
 * 默認文字設定
 *******************************/

html {
  font-size: 10px;
}

// 默認字體設置 (思源黑體)
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "Noto Sans TC", sans-serif;
  // font-family: "cwTeXYen", sans-serif;
  // font-family: sans-serif;
  color: $font-color;
}

h1 {
  font-size: 6rem; // h1 60px
}

h2 {
  font-size: 3.2rem; // h2 32px
}

h3 {
  font-size: 2.6rem; // h3 26px
}

h4 {
  font-size: 2.4rem; // h4 24px
}

h5 {
  font-size: 2.2rem; // h5 22px
}

h6 {
  font-size: 1.6rem; // h6 16px
}

p {
  font-size: 1.8rem; // p 18px
}

span {
  font-size: 1.8rem; // p 18px
}

/********************************
 * Navbar-設定 (.section_navbar)
 *******************************/
.section_navbar {
  .nav_title {
    font-size: 1.8rem;
    font-weight: 300;
  }
}

/********************************************
 * Navbar手機版-設定 (.section_navbar_mobile)
 *******************************************/
.section_navbar_mobile {
  h1 {
    font-size: 3rem;
    font-weight: 300;
  }
}

/********************************
 * Banner-設定 (.section_banner)
 *******************************/
.section_banner {
}

/********************************
 * 品牌概念-設定 (.section_brand)
 *******************************/
.section_brand {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    // font-family: "cwTeXFangSong", "STFangSong", "FangSong", "Noto Sans TC", sans-serif;
    // font-family: "cwTeXYen", sans-serif;
    color: $font-color;
  }
}

/********************************
 * 菜單-設定 (.section_menu)
 *******************************/
.section_menu {
  h4 {
    font-weight: 600;
  }

  h4,
  h5,
  h6 {
    font-family: "cwTeXFangSong", "STFangSong", "FangSong", "Noto Sans TC",
      sans-serif;
    margin: 0;
  }
}

/********************************
 * Footer-設定 (.section_footer)
 *******************************/
.section_footer {
  .footer_title {
    font-size: 2rem;
  }

  .footer_content {
    font-size: 1.8rem;
  }
}

/********************************
 * 螢幕寬度 < xl-1200px
 *******************************/
@media screen and (max-width: $xl) {
  body {
    // background-color: rgb(235, 177, 177);
  }
}

/********************************
 * 螢幕寬度 < lg-992px
 *******************************/
@media screen and (max-width: $lg) {
  body {
    // background-color: rgb(156, 156, 231);
  }
}

/********************************
 * 螢幕寬度 < sm-540px
 *******************************/
@media screen and (max-width: $sm) {
  body {
    // background-color: rgb(184, 221, 184);
  }

  html {
    font-size: 8px;
  }

  p,
  span {
    font-size: 2rem;
  }
}
