@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
  font-family: "Noto Sans TC", sans-serif;
}

// 手機含平板寬度設定
$screen-max-width: 768px;

// 主色
$primary-color: #8AA2B7;

// 背景色
$bg-color: #E5E7EC;

h1 {
  font-size: 200px;
  color: red;
}

h2 {
  font-size: 32px; 
}

h3 {
  font-size: 0.6rem;
}

h4 {
  font-size: 0.5rem;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 0.3rem;
}

// footer

.footer_title {
  font-size: 20px;
}

.footer_content {
  font-size: 18px;
}

