.section_cover {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background-color: $light-color;
  // background-color: rgb(100, 95, 91);
  z-index: 999;

  > div {
    height: 100vh;
    width: 50%;
  background-color: rgb(100, 95, 91);
    // background-color: $cover-color;
  }

  .cover_left {
    position: fixed;
    top: 0;
    left: 0;
  }

  .cover_right {
    position: fixed;
    bottom: 0;
    right: 0;
  }

  .logo {
    @include position-center();
    position: fixed;
    height: 50px;
    opacity: 0;
  }
}

//  > div {
//   height: 100%;
//   width: 100%;
//   background-color: $cover-color;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   overflow: hidden;
// }
