.go_top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  user-select: none;
  opacity: 0.6;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  .arrow_icon {
    color: $dark-color;
    text-align: center;
    display: block;
  }

  p {
    font-size: 2rem;
    color: $dark-color;
  }
}
