/*********************
 * footer 樣式
*********************/
$footer-bg-color: rgba(0, 0, 0, 0.7);
// $footer-bg-color: black;
$footer-font-color: white;

.section_footer {
  background-color: $footer-bg-color;
  padding: 2rem;

  hr {
    background-color: $footer-font-color;
    width: 50px;
  }

  h5 {
    font-size: 2.4rem;
    font-weight: 600;
    color: $footer-font-color;
  }

  p {
    font-size: 2rem;
    color: $footer-font-color;
  }

  .card-body {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .copyright {
    width: 100%;
    text-align: center;
    margin-top: 40px;
  }

  .icon_group {
    line-height: 50px;
  }
}

// 螢幕寬度介於 lg:992px 與 xl:1200px 之間
@media (min-width: $lg) and (max-width: $xl) {
  // 選取 col* 最後一個元素(卡片 Follow Us)
  .footer {
    div[class^="col"]:last-child {
      margin-top: 0.5rem;
    }
  }
}

// 螢幕寬度小於 lg:992px
@media screen and (max-width: $lg) {
 
  // 選取所有 col* 元素(3張卡片)
  .footer {
    div[class^="col"] {
      margin-bottom: 0.5rem;
    }
    p {
      text-align: center;
    }
  }
}
