/*********************
 * footer 樣式
*********************/
.section_footer {

  .logo {
    height: 100px;
    margin-bottom: 1rem;
  }

  .map {
    height: 520px;
    width: 520px;
    background-color: $dark-color;
  }
}
/***********************
 * css樣式請輸入在上方{}內
 ***********************/
