/*********************
 * 初米介紹 樣式
*********************/
.section_intro {
  > div {
    padding: 100px 0;
    // min-height: 1200px;
    // padding-top: 400px;
  }

  .intro_taste,
  .intro_taste_mobile {
    background-color: $dark-color;
  }

  img {
    width: 100%;
    max-height: 550px;
  }

  .intro_taste {

    .taste_img {
      position: relative;
      right: 50px;
    }

    .button_section {
      position: relative;
      height: 40%;

      .menu_btn {
        position: absolute;
        right: 140px;
        top: 50%;
        transform: translate(0, -50%);
        text-decoration: none;
        padding: 1rem 3rem;
        margin: 0;
        border-width: 2px;
        border-style: solid;
        border-radius: 999px;

        .btn_label {
          margin: 0;
        }
      }
    }

    .intro_section {
      position: relative;
      height: 60%;

      .content {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
      }

      .title {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        writing-mode: vertical-lr;
      }
    }
  }

  .intro_beauty_wall {
    .neon:first-child {
      margin-bottom: 4rem;
    }
    .neon {
      color: #ff75fb;
      font-size: 60px;
      text-shadow: 0 0 3vw #ff75fb;
      animation: neon 3s ease infinite;
    }
  }
}
/***********************
 * css樣式請輸入在上方{}內
 ***********************/

@media screen and (max-width: $lg) {
  .section_intro {
    .title,
    .sub_title,
    .content {
      text-align: center;
    }

    .title {
      margin-bottom: 4rem;
    }

    .brand_img {
      margin-top: 4rem;
    }
  }
}
