@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #ff75fb, 0 0 3vw #ff75fb, 0 0 10vw #ff75fb,
      0 0 10vw #ff75fb, 0 0 0.4vw #ff75fb, 0.5vw 0.5vw 0.1vw #ff75fb;
    color: #fed128;
  }

  50% {
    text-shadow: 0 0 1vw #FF645E, 0 0 3vw #FF645E, 0 0 10vw #FF645E,
      0 0 10vw #FF645E, 0 0 0.4vw #FF645E, 0.5vw 0.5vw 0.1vw #FF645E;
    color: #FFA07A;
  }

  // 50% {
  //   text-shadow: 0 0 1vw #ec454d, 0 0 3vw #ec454d, 0 0 10vw #ec454d,
  //     0 0 10vw #ec454d, 0 0 0.4vw #ec454d, 0.5vw 0.5vw 0.1vw #ec454d;
  //   color: #f8f35f;
  // }

  // 50% {
  //   text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b,
  //     0 0 5vw #800e0b, 0 0 0.2vw #800e0b, 0.5vw 0.5vw 0.1vw #40340a;
  //   color: #806914;
  // }
}