/***************
 * navbar 樣式
***************/
.section_navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $dark-color;

  .navbar_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem;
    background: $light-color;
  }

  /***************
   * logo 樣式
   ***************/
  .logo {
    width: 80px;
  }

  /***************
   *  選單樣式
   ***************/
  .nav_option > h3 {
    margin-left: 2rem;
    user-select: none;
    cursor: pointer;
    padding: 0.5rem 0;
    transition-duration: 1s ease;

    &:hover {
      font-weight: 600;
    }
  }
}
/***********************
 * css樣式請輸入在上方{}內
 ***********************/
