/***************
 * 變量設定
 ***************/

// logo大小
$logo-size: 6rem;

// nav padding
$nav-p: 1rem;

// nav 顔色
$nav-color: rgba(0, 0, 0, 0.7);

// font 顔色
$nav-font-color: white;

/***************
 * nav 高度區塊
 ***************/
.section_nav_block {
  background-color: $nav-color;
  padding: $nav-p;
  opacity: 0;
  .logo {
    width: $logo-size;
  }
}

/***************
 * navbar
 ***************/
.section_nav {
  background-color: $nav-color;
  width: 100%;
  position: fixed;
  padding: $nav-p;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  .logo {
    width: $logo-size;
    user-select: none;
    cursor: pointer;
  }

  .option {
    color: $nav-font-color;
    margin-left: 2rem;
    user-select: none;
    cursor: pointer;
    padding: 0.5rem 0;
    transition-duration: 1s ease;
    
    &:hover {
      font-weight: 600;
    }
  }
  .nav_menu_btn {
    color: $nav-font-color;
    cursor: pointer;
  }
}
