@import "./common";
// $nav-height: 100px;

// .navbar {
//     width: 100%;
//     height: $nav-height;
//     background-color: red;
// }

// .section_banner {
//     width: 100%;     
//     height: 800px;
//     background-color: blue;
// }