@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
* {
    font-family: "cwTeXYen", sans-serif;
    font-size: 60px;
    font-weight: 500;
}

.neon {
    background-color: #000;
}

.container {
    display: flex;
    height: 500px;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/7.jpg");
    
}

.neon_style{
    margin-top: 170px;
}

span {
    opacity: 1;
    color: #fee;
}

.neon_one {
    animation: neon_one 8s infinite;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #FF75FB, 0 0 0.5em #FF75FB, 0 0 0.1em #FF75FB, 0 10px 3px #000;
}

.neon_two {
    animation: neon_two 8s infinite;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #90FC51, 0 0 0.5em #90FC51, 0 0 0.1em #90FC51, 0 10px 3px #000;
}

.neon_four {
    animation: neon_three 8s infinite;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #762239, 0 0 0.5em #762239, 0 0 0.1em #762239, 0 10px 3px #000;
}

.neon_three{
    animation: neon_three 8s infinite;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #EC7E30, 0 0 0.5em #EC7E30, 0 0 0.1em #EC7E30, 0 10px 3px #000;
}

@keyframes neon_one {
    0% {
        opacity: 0.1;
    }
    19% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.1;
    }
    21% {
        opacity: 0.8;
    }
    22% {
        opacity: 0.1;
    }
    23% {
        opacity: 0.8;
    }
    24% {
        opacity: 0.1;
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes neon_two {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 1;
    }
    11% {
        opacity: 0.8;
    }
    12% {
        opacity: 0.1;
    }
    13% {
        opacity: 0.8;
    }
    14% {
        opacity: 0.1;
    }
    15% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes neon_three {
    0% {
        opacity: 1;
    }
    29% {
        opacity: 1;
    }
    30% {
        opacity: 0.1;
    }
    31% {
        opacity: 0.8;
    }
    32% {
        opacity: 0.1;
    }
    33% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

// @keyframes neon_one{
//   0% {
//     opacity: 0.1;
//   }
//   10% {
//     opacity: 0.1;
//   }
//   11% {
//     opacity: 0.8;
//   }
//   14% {
//     opacity: 0.1;
//   }
//   15% {
//     opacity: 0.6;
//   }
//   16% {
//     opacity: 0.1;
//   }
//   17% {
//     opacity: 0.6;
//   }
//   18% {
//     opacity: 0.1;
//   }
//   19% {
//     opacity: 1;
//   }
//   20% {
//     opacity: 0.1;
//   }
//   21% {
//     opacity: 1;
//   }
//   // 39% {
//   //   opacity: 1;
//   // }
//   // 40% {
//   //   opacity: 0.1;
//   // }
//   // 50% {
//   //   opacity: 0.1;
//   // }
//   // 51% {
//   //   opacity: 1;
//   // }
//   // 59% {
//   //  opacity: 0.1;
//   // }
//   // 60% {
//   //   opacity: 1;
//   // }
//   100% {
//     opacity: 1;
//   }
// }
// @keyframes neon_two{
//   0% {
//     opacity: 0.1;
//   }
//   19% {
//     opacity: 0.1;
//   }
//   20% {
//     opacity: 0.8;
//   }
//   22% {
//     opacity: 0.1;
//   }
//   24% {
//     opacity: 0.8;
//   }
//   // 34% {
//     // opacity: 0.1;
//   // }
//   // 35% {
//     // opacity: 0.8;
//   // }
//   // 6% {
//   //   opacity: 0;
//   // }
//   // 7% {
//   //   opacity: 1;
//   // }
//   // 8% {
//   //   opacity: 0;
//   // }
//   // 20% {
//   //   opacity: 1;
//   // }
//   59% {
//   }
//   60% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 1;
//   }
// }
