@import "./common";

.section_brand {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "cwTeXFangSong", "STFangSong", "FangSong", "Noto Sans TC";
    font-family: "cwTeXYen", sans-serif;
  }

  p,
  span {
    font-family: "cwTeXFangSong", "STFangSong", "FangSong", "Noto Sans TC";
    font-family: "cwTeXYen", sans-serif;
    font-size: 20px;
  }

  img {
    width: 600px;
    max-height: 550px;
  }

  .row > div {
    padding: 105px 0;
  }

  > div:nth-child(odd) {
    background-color: $light-color;
  }

  > div:nth-child(even) {
    background-color: $dark-color;
  }

  img.brand_logo {
    width: 60px;
    height: 60px;
  }

  .text-vertical {
    writing-mode: vertical-lr;
  }

  .label {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1200px) {
  .section_brand img {
    max-width: 100%;
    height: auto;
  }

  .box {
    background-color: rgb(235, 177, 177);
  }
}

@media screen and (max-width: 992px) {
  .section_brand .content {
    justify-content: center;
  }

  .section_brand img {
    margin: 0 auto;
  }

  .section_brand .label {
    margin-bottom: 40px !important;
  }

  .section_brand .row > div {
    padding: 50px 15px;
  }

  .section_brand .row > div:first-child {
    padding-bottom: 0;
  }

  .box {
    background-color: rgb(156, 156, 231);
  }
}

@media screen and (max-width: 576px) {
  .box {
    background-color: rgb(184, 221, 184);
  }

  .section_brand .content div {
    align-items: center;
  }
}
