@import "./common";

@import url(//fonts.googleapis.com/earlyaccess/cwtexfangsong.css);

.section_brand * {
  font-family: "FangSong", sans-serif;
}

.section_brand img {
  height: 500px;
  width: 500px;
}

.section_brand .col {
  padding: 130px 0;
}

.section_brand_one {
  background-color: #e6e6e6;
}

.section_brand_two {
  background-color: #b3b3b3;
}

.section_brand_three {
  background-color: #e6e6e6;
}

img.brand_logo {
  width: 60px;
  height: 60px;
}

h2 span {
  display: block;
}

.section_brand_three .label {
  margin-bottom: 50px;
}