@import "./common";

.section_brand * {
  font-family: "FangSong", "STFangSong", sans-serif;
  // font-weight: 60;
}

.section_brand img {
  width: 600px;
  max-height: 550px;
}

.section_brand .row > div {
  padding: 105px 0;
}

.section_brand > div:nth-child(odd) {
  background-color: #e6e6e6;
}

.section_brand > div:nth-child(even) {
  background-color: #b3b3b3;
}

img.brand_logo {
  width: 60px;
  height: 60px;
}

.text-vertical {
  writing-mode: vertical-lr;
}

.section_brand .label {
  margin-bottom: 50px;
}

@media screen and (max-width: 1200px) {
  .section_brand > div:nth-child(odd) {
    background-color: rgb(235, 177, 177);
  }

  .section_brand img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 992px) {
  .section_brand .content {
    justify-content: center;
  }

  .section_brand img {
    margin: 0 auto;
  }

  .section_brand > div:nth-child(odd) {
    background-color: rgb(156, 156, 231);
  }
}

@media screen and (max-width: 576px) {
  .section_brand > div:nth-child(odd) {
    background-color: rgb(184, 221, 184);
  }
}
