@import "./common";
@import url(//fonts.googleapis.com/earlyaccess/cwtexfangsong.css);

.section_brand * {
  font-family: "FangSong", "STFangSong", sans-serif;
}

.section_brand img {
  height: 550px;
  width: 600px;
}

.section_brand .col {
  padding: 130px 0;
}

.section_brand > div:nth-child(odd) {
  background-color: #e6e6e6;
}

.section_brand > div:nth-child(even) {
  background-color: #b3b3b3;
}

.line {
  display: none;
}

img.brand_logo {
  width: 60px;
  height: 60px;
}

h2 span {
  display: block;
}



.section_brand .label {
  margin-bottom: 50px;
}

@media screen and (max-width: 1200px) {
  .section_brand > div:nth-child(odd) {
    // background-color: red;
  }
}

@media screen and (max-width: 992px) {

  .line {
    display: block;
  }

  .section_brand .content {
    justify-content: center;
  }
  
 .section_brand img {
   margin: 0 auto;
 }

  .section_brand > div:nth-child(odd) {
    // background-color: blue;
  }
}

@media screen and (max-width: 576px) {
  .section_brand > div:nth-child(odd) {
    // background-color: green;
  }

}
