@import "./common";

/**********************
 * navbar 電腦版
 *
 * .section_navbar
 **********************/

.section_navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  max-width: 1200px;
  margin: 0 auto;

  .logo {
    margin: 15px 0;
    width: 80px;
  }

  a {
    color: rgb(97, 95, 95);
    text-decoration: none;
    margin: 0 10px;
  }
}
