@import "./common";

/*************************
 * navbar 手機版
 *
 * .section_navbar_mobile
 *********8**************/

.section_navbar_mobile {

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    position: fixed;
    top: -100%;
    left: 0;
    z-index: -1;

    background-color: rgba(0, 0, 0, 0.4);
  }

  .col {
    padding: 15px 15px;
  }

  .logo {
    width: 80px;
  }

  a {
    text-decoration: none;
    margin: 10px;
  }

  h1 {
    font-size: 28px;
    color: white;
  }
}
