@import "./common";

$nav_padding: calc((100vw - 1200px + 30px) / 2);

.section_navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    max-width: 1200px;
    margin: 0 auto;
}

.section_navbar .logo {
    margin: 15px 0;
    width: 80px;
}

.section_navbar a {
    color: rgb(97, 95, 95);
    text-decoration: none;
    margin:  0 10px;
}