@import "./common";
#section_banner.fixed {
    padding-top: 20px;
}

#section_banner {
    position: relative;
}

#section_banner_mobile {
    display: none;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    /* background-image: url("./img/coffee.png"); */
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}

/* 設定圖片大小 */

.banner_width_height {
    // width: 100%;
    // height: 100%;
    height: 40vw;

}

/* 手機版 */

@media screen and (max-width: 500px) {
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    #section_banner {
        display: none;
    }
    #section_navbar_mobile {
        display: block;
    }
}