@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
/********************************
 * 顔色設定
 *******************************/
/********************************
 * 默認文字設定
 *******************************/
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
html {
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "cwTeXYen", sans-serif;
  color: #2e2d2d;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2.2rem;
}

h6 {
  font-size: 2rem;
}

p {
  font-size: 2.2rem;
}

span {
  font-size: 2.2rem;
}

/********************************
 * Navbar-設定 (.section_navbar)
 *******************************/
/********************************************
 * Navbar手機版-設定 (.section_navbar_mobile)
 *******************************************/
.section_navbar_mobile h1 {
  font-size: 3rem;
  font-weight: 300;
}

/********************************
 * Banner-設定 (.section_banner)
 *******************************/
/********************************
 * 品牌概念-設定 (.section_brand)
 *******************************/
.section_brand h1,
.section_brand h2,
.section_brand h3,
.section_brand h4,
.section_brand h5,
.section_brand h6,
.section_brand p,
.section_brand span {
  color: #2e2d2d;
}

/********************************
 * 菜單-設定 (.section_menu)
 *******************************/
.section_menu h4 {
  font-weight: 600;
}

.section_menu h4,
.section_menu h5,
.section_menu h6 {
  font-family: "cwTeXYen", sans-serif;
  margin: 0;
}

/********************************
 * Footer-設定 (.section_footer)
 *******************************/
.section_footer .footer_title {
  font-size: 2rem;
}

.section_footer .footer_content {
  font-size: 1.8rem;
}

/********************************
 * 螢幕寬度 < xl-1200px
 *******************************/
/********************************
 * 螢幕寬度 < lg-992px
 *******************************/
/********************************
 * 螢幕寬度 < sm-540px
 *******************************/
@media screen and (max-width: 540px) {
  html {
    font-size: 8px;
  }
  p,
  span {
    font-size: 2rem;
  }
}

#section_banner.fixed {
  padding-top: 20px;
}

#section_banner {
  position: relative;
}

#section_banner_mobile {
  display: none;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
  /* background-image: url("./img/coffee.png"); */
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

/* 設定圖片大小 */
.banner_width_height {
  height: 40vw;
}

/* 手機版 */
@media screen and (max-width: 500px) {
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  #section_banner {
    display: none;
  }
  #section_navbar_mobile {
    display: block;
  }
}

/*********************
 * 品牌概念 樣式
*********************/
/***********************
 * css樣式請輸入在上方{}內
 ***********************/
/********************************
 * 顔色設定
 *******************************/
/********************************
 * 默認文字設定
 *******************************/
html {
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "cwTeXYen", sans-serif;
  color: #2e2d2d;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2.2rem;
}

h6 {
  font-size: 2rem;
}

p {
  font-size: 2.2rem;
}

span {
  font-size: 2.2rem;
}

/********************************
 * Navbar-設定 (.section_navbar)
 *******************************/
/********************************************
 * Navbar手機版-設定 (.section_navbar_mobile)
 *******************************************/
.section_navbar_mobile h1 {
  font-size: 3rem;
  font-weight: 300;
}

/********************************
 * Banner-設定 (.section_banner)
 *******************************/
/********************************
 * 品牌概念-設定 (.section_brand)
 *******************************/
.section_brand h1,
.section_brand h2,
.section_brand h3,
.section_brand h4,
.section_brand h5,
.section_brand h6,
.section_brand p,
.section_brand span {
  color: #2e2d2d;
}

/********************************
 * 菜單-設定 (.section_menu)
 *******************************/
.section_menu h4 {
  font-weight: 600;
}

.section_menu h4,
.section_menu h5,
.section_menu h6 {
  font-family: "cwTeXYen", sans-serif;
  margin: 0;
}

/********************************
 * Footer-設定 (.section_footer)
 *******************************/
.section_footer .footer_title {
  font-size: 2rem;
}

.section_footer .footer_content {
  font-size: 1.8rem;
}

/********************************
 * 螢幕寬度 < xl-1200px
 *******************************/
/********************************
 * 螢幕寬度 < lg-992px
 *******************************/
/********************************
 * 螢幕寬度 < sm-540px
 *******************************/
@media screen and (max-width: 540px) {
  html {
    font-size: 8px;
  }
  p,
  span {
    font-size: 2rem;
  }
}

/**********************
 * navbar 電腦版
 *
 * .section_navbar
 **********************/
.section_navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  max-width: 1200px;
  margin: 0 auto;
}

.section_navbar .logo {
  margin: 15px 0;
  width: 80px;
}

.section_navbar a {
  color: #615f5f;
  text-decoration: none;
  margin: 0 10px;
}

/********************************
 * 顔色設定
 *******************************/
/********************************
 * 默認文字設定
 *******************************/
html {
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "cwTeXYen", sans-serif;
  color: #2e2d2d;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2.2rem;
}

h6 {
  font-size: 2rem;
}

p {
  font-size: 2.2rem;
}

span {
  font-size: 2.2rem;
}

/********************************
 * Navbar-設定 (.section_navbar)
 *******************************/
/********************************************
 * Navbar手機版-設定 (.section_navbar_mobile)
 *******************************************/
.section_navbar_mobile h1 {
  font-size: 3rem;
  font-weight: 300;
}

/********************************
 * Banner-設定 (.section_banner)
 *******************************/
/********************************
 * 品牌概念-設定 (.section_brand)
 *******************************/
.section_brand h1,
.section_brand h2,
.section_brand h3,
.section_brand h4,
.section_brand h5,
.section_brand h6,
.section_brand p,
.section_brand span {
  color: #2e2d2d;
}

/********************************
 * 菜單-設定 (.section_menu)
 *******************************/
.section_menu h4 {
  font-weight: 600;
}

.section_menu h4,
.section_menu h5,
.section_menu h6 {
  font-family: "cwTeXYen", sans-serif;
  margin: 0;
}

/********************************
 * Footer-設定 (.section_footer)
 *******************************/
.section_footer .footer_title {
  font-size: 2rem;
}

.section_footer .footer_content {
  font-size: 1.8rem;
}

/********************************
 * 螢幕寬度 < xl-1200px
 *******************************/
/********************************
 * 螢幕寬度 < lg-992px
 *******************************/
/********************************
 * 螢幕寬度 < sm-540px
 *******************************/
@media screen and (max-width: 540px) {
  html {
    font-size: 8px;
  }
  p,
  span {
    font-size: 2rem;
  }
}

/*************************
 * navbar 手機版
 *
 * .section_navbar_mobile
 *********8**************/
.section_navbar_mobile .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
}

.section_navbar_mobile .navbar_mobile {
  position: relative;
  z-index: 200;
}

.section_navbar_mobile .col {
  padding: 15px 15px;
}

.section_navbar_mobile .logo {
  width: 80px;
}

.section_navbar_mobile a {
  text-decoration: none;
  margin: 10px;
}

.section_navbar_mobile h1 {
  font-size: 28px;
  color: white;
}
/*# sourceMappingURL=style.css.map */