@import "./section_banner";
@import "./section_navbar";

// @media screen and (max-width: $xl) {
//   body {
//     background-color: blue;
//   }
// }
// @media screen and (max-width: $lg) {
//   body {
//     background-color: red;
//   }
// }
// @media screen and (max-width: $sm) {
//   body {
//     background-color: green;
//   }
// }

