@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
}

.menu_mobile_option {
  background-position: center;
  background-size: cover;
  height: 13vh;
  border-radius: 10px;
  margin: 10px 0;
}

.menu_img {
  width: 100%;
}

.menu_mobile_label {
  color: white;
  font-size: 32px;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-shadow: 3px 3px 3px rgba(#383838, 0.6);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  box-shadow: 3px 3px 6px rgba($color: #383838, $alpha: 0.6)
}

@media screen and (max-width: 768px) {
  .screen_size_prompt {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .section_menu_mobile {
    display: none;
  }
}
