@import "./common";

.section_community * {
    font-family: "cwTeXYen", sans-serif;
}

.col {
    padding: 15px 15px;
}

.box {
    height: 30vh;
    width: 100%;
}

.section_community .label {
    animation: label_flash 1s linear infinite;
    color: red;
}

.section_community span {
    font-size: 2.2rem;
}

@keyframes label_flash {
    0% {
        opacity: 0;
        // color: yellow;
    }
    50% {
        opacity: 0.5;
        // color: red;
    }

    100% {
        opacity: 1;
        // color: yellow;
    }
}