@import "./utility";
@import "./common";

.section_menu .row:nth-child(odd) {
  // background-color: $primary-color;
  background-color: $bg-color;
}

.section_menu .row:nth-child(even) {
  // background-color: $primary-color;
  background-color: $bg-color;
}

.section_menu .col-lg {
  padding-top: 40px;
}

.section_menu .col-lg > div {
  margin-bottom: 40px;
}

.section_menu .col-lg div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
