@import "./utility";
@import "./common";

.section_menu .row:nth-child(odd) {
  background-color: $primary-color;
}

.section_menu .row:nth-child(even) {
  background-color: $bg-color;
}

.section_menu .col {
  height: 50vh;
}