@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import "./utility";
@import "./common";

$width-rate: 100vw / 1920;
$item-padding: 10px;
$grid-width: (100% / 3 - 0.05);
$golden-rate: 1.618;
$grid-primary-height: 350 * $golden-rate * $width-rate;
$grid-secondary-height: 350 * $width-rate;
$label-font-size: 32px;

* {
  font-family: "Noto Sans TC", sans-serif;
}

#section_menu_option {
  // display: none;
}

//******** murri測試 ********

.grid {
  position: relative;
}

.item {
  display: block;
  padding: $item-padding;
  position: absolute;
  width: $grid-width;
  z-index: 1;
}

.item-content {
  position: relative;
  width: 100%;
  @include border-radius();
  height: 100%;
  overflow: hidden;
}

.item-content:hover {
  box-shadow: 3px 3px 5px rgba($color: #000000, $alpha: 0.4);
  transition-duration: 0.6s;
}

body {
  height: 3000px;
}

.item {
  height: $grid-primary-height;
}

.item:nth-child(2),
.item:nth-child(5),
.item:nth-child(6) {
  height: $grid-secondary-height;
}

.menu_option {
  @include border-radius();
  @include bg-full();
  transition-duration: 0.6s;
}

.menu_option:hover {
  transform: scale(1.2);
}

.menu_label {
  @include position-center();
  pointer-events: none;
  color: white;
  font-size: $label-font-size;
  text-shadow: 3px 3px 3px rgba($color: #000000, $alpha: 0.4);
  font-weight: 500;
}

.item_small {
  width: calc(100% / 6 - 0.2px);
  height: 100px !important;
}

.fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  margin: 10px auto;
  max-width: 1400px;
}
