@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import "./utility";

$width-rate: 100vw / 1920;
$item-padding: 5px;
$grid-width: (100% / 3 - 0.05);
$golden-rate: 1.618;
$grid-primary-height: 350 * $golden-rate * $width-rate;
$grid-secondary-height: 350 * $width-rate;
$label-font-size: 32px;

* {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}


.grid {
  position: relative;
}

.item {
  display: block;
  padding: $item-padding;
  position: absolute;
  width: $grid-width;
  z-index: 1;
}

.primary_item {
  height: $grid-primary-height;
}

.secondary_item {
  height: $grid-secondary-height;
}

.item.muuri-item-dragging {
  z-index: 3;
}

.item.muuri-item-releasing {
  z-index: 2;
}

.item.muuri-item-hidden {
  z-index: 0;
}

.item-content {
  @include border-radius();
  position: relative;
  width: 100%;
  height: 100%;
  transition-duration: 0.4s;
  overflow: hidden;
}

.menu_option {
  @include bg-full();
}

.item-content:hover {
  box-shadow: 3px 3px 5px rgba($color: #000000, $alpha: 0.4);
}

.box {
  transition-duration: 0.4s;
}

.box:hover {
  transform: scale(1.2);
}

.box:hover div {
  transform: scale(calc(1 / 1.2));
}

.menu_label {
  color: white;
  font-size: $label-font-size;
  text-shadow: 3px 3px 3px rgba($color: #000000, $alpha: 0.4);
  font-weight: 500;
  transition-duration: 0.3s;
}

.item_small {
  width: calc(100% / 6);
  height: 100px;
}

@media screen and (max-width: 768px) {
  $grid-width: 100%;
  $grid-primary-height: 700 * $width-rate;
  $grid-secondary-height: 700 * $width-rate;

  .item {
    width: $grid-width;
  }

  .primary_item {
    height: $grid-primary-height;
  }

  .secondary_item {
    height: $grid-secondary-height;
  }
}
