@mixin bg-full($img, $position: center, $size: cover) {
  width: 100%;
  height: 100%;
  background-image: url($img);
  background-size: $size;
  background-position: $position;
}

@mixin border-radius($radius: 10px) {
  border-radius: $radius;
}
