$main_title_font_size: 12rem;
$btn_size: 50px;
$border_color: #a3814d;

.section_menu {
  // 菜單樣式設定

   // 大標題文字
    .main_title {
      position: absolute;
      font-size: $main_title_font_size;
      opacity: 0.2;
      color: $border_color;
      top: 10%;
      font-weight: 600;
      left: 0;
      writing-mode: vertical-lr;
    }
  .menu {
    position: relative;

    // 設定各菜單高度為 100vh
    height: 100vh;

   
    // 設定奇數背景顔色
    &:nth-child(odd) {
      background-color: $light-color;
    }

    // 設定偶數背景顔色
    &:nth-child(even) {
      background-color: $dark-color;
    }

    // 將內容置中
    & > .container {
      @include position-center();
    }

    // 設定分隔線高度
    .divider_line {
      height: 5rem;
    }

   

    // 設定菜單文字列表區塊
    .menu_list_section {
      height: 100%;
      // background-color: red;
    }

    // 設定菜單圖片與標籤區塊
    .menu_img_section {
      // background: red;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      // 菜單圖片大小
      .menu_img {
        width: 27rem;
      }

      // 文字設定
      .menu_img_label {
        margin-bottom: 0;
        margin-top: 2rem;
        font-size: 2.4rem;
        padding: 0 2rem;
        color: $border_color;
        letter-spacing: 1px;
        border: 3px solid $border_color;
      }
    }
  }

  // 側邊選單鈕設定
  .btn_group {
    position: fixed;
    right: $btn_size;
    top: 50%;
    transform: translate(0, -50%);

    // 選單鈕外觀設定
    .menu_btn {
      border-radius: 50%;
      height: $btn_size;
      margin-top: ($btn_size / 2);
      position: relative;
      text-align: center;
      transition-duration: 0.5s;
      width: $btn_size;

      // 圖片大小設定
      img {
        width: $btn_size;
      }

      // 伸縮條設定
      & > div {
        align-items: center;
        background-color: rgba($color: #000000, $alpha: 0.6);
        border-radius: ($btn_size / 2) 0 0 ($btn_size / 2);
        display: flex;
        height: 100%;
        justify-content: center;
        opacity: 0.5;
        overflow: hidden;
        position: absolute;
        right: ($btn_size / 2);
        top: 0;
        transition: 0.6s ease;
        width: 0;
        word-wrap: true;
        z-index: -1;
      }

      // 選單鈕文字設定
      & > div h4 {
        color: white;
        margin-right: ($btn_size / 2);
        opacity: 0;
        transition-duration: 0.1s;
      }

      // 選單鈕 hover 設定
      &:hover {
        box-shadow: 2px 2px 4px rgba(204, 183, 178, 0.8);
        > div {
          opacity: 1;
          width: 200px;
          h4 {
            opacity: 1;
          }
        }
      }
    }
  }
}
