$btn_height: 50px;

.section_menu {
  > div:nth-child(even) {
    background-color: $light-color;
  }

  .menu {
    padding: 10rem 0;
    width: 100%;
    height: 100vh;
  }

  h4 {
    text-align: center;
    margin-bottom: 2.4rem;
  }

  h6 {
    text-align: center;
    margin-bottom: 2rem;
  }

  p {
    text-align: center;
  }

  .btn_group {
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translate(0, -50%);
  }

  .menu_btn {
    background-color: rosybrown;
    width: $btn_height;
    height: $btn_height;
    padding: 0;
    position: relative;
    margin-top: 15px;
    text-align: center;
    border-radius: 50%;
  }

  .menu_btn > div {
    background-color: rgba($color: #000000, $alpha: 0.6);
    width: 0;
    overflow: hidden;
    height: 100%;
    position: absolute;
    top: 0;
    right: ($btn_height / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: ($btn_height / 2) 0 0 ($btn_height / 2);
    transition: 0.6s ease;
    word-wrap: true;
    z-index: -1;
    opacity: 0.5;
  }

  .menu_btn > div h4 {
    color: white;
    opacity: 0;
    margin-right: 30px;
    transition-duration: 0.1s;
  }

  .menu_btn:hover {
    > div {
      width: 200px;
      opacity: 1;
      h4 {
        opacity: 1;
      }
    }
  }
}
