$btn_height: 50px;

.section_menu {

  //  設定各菜單高度為 100vh
  .menu {
    height: 100vh;
  }

  // 設定奇數背景顔色
  .menu:nth-child(odd) {
    background-color: $light-color;
  }
  // 設定偶數背景顔色
  .menu:nth-child(even) {
    background-color: $dark-color;
  }

  // 設定菜單圖片與標籤區塊
  .menu_img_section {
    background:red;
    display: flex;
    flex-direction: column;
  }

  .menu {
    position: relative;
  }

  .menu > .container {
    @include position-center();
  }

  img {
    width: 27rem;
  }

  .pb_50 {
    padding-bottom: 5rem;
  }

  .menu {
    padding: 10rem 0;
    width: 100%;
    height: 100vh;

    h2 {
      margin-bottom: 3rem;
      padding: 0;
    }

    h4 {
      // text-align: center;
      margin: 0;
      padding: 0;
      margin-bottom: 1rem;
      margin-left: 2.5rem;
    }

    p {
      text-align: center;
    }
  }
  .btn_group {
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translate(0, -50%);
  }

  .menu_btn {
    background-color: rosybrown;
    width: $btn_height;
    height: $btn_height;
    padding: 0;
    position: relative;
    margin-top: 15px;
    text-align: center;
    border-radius: 50%;
  }

  .menu_btn > div {
    background-color: rgba($color: #000000, $alpha: 0.6);
    width: 0;
    overflow: hidden;
    height: 100%;
    position: absolute;
    top: 0;
    right: ($btn_height / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: ($btn_height / 2) 0 0 ($btn_height / 2);
    transition: 0.6s ease;
    word-wrap: true;
    z-index: -1;
    opacity: 0.5;
  }

  .menu_btn img {
    width: $btn_height;
  }

  .menu_btn > div h4 {
    color: white;
    opacity: 0;
    margin-right: ($btn_height / 2);
    transition-duration: 0.1s;
  }

  .menu_btn:hover {
    > div {
      width: 200px;
      opacity: 1;
      h4 {
        opacity: 1;
      }
    }
  }
}
