@import "./common";

.footer {
  background-color: $light-color;
}

.card {
  background-color: $dark-color;
}

.icongroup {
  text-align: center;
  line-height: 50px;
}

.gotop {
  position: fixed;
  float: right;
  margin-top: 20px;
  right: 20px;
  bottom: 20px;
}

.copyright {
  text-align: center;
  margin-top: 40px;
}
