@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
/********************************
 * 默認顔色設定
 *******************************/
/********************************
 * 默認間距設定
 *******************************/
/********************************
 * 默認文字設定
 *******************************/
html {
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  font-family: "cwTeXYen", sans-serif;
  color: #2e2d2d;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2.2rem;
}

h6 {
  font-size: 2rem;
}

p {
  font-size: 2.2rem;
}

span {
  font-size: 2.2rem;
  cursor: pointer;
}

/********************************
 * Navbar-設定 (.section_navbar)
 *******************************/
.section_navbar .option {
  font-size: 2rem;
  color: white;
}

/********************************************
 * Navbar手機版-設定 (.section_navbar_mobile)
 *******************************************/
.section_navbar_mobile h3 {
  font-size: 3rem;
  font-weight: 300;
  color: white;
}

/********************************
 * Banner-設定 (.section_banner)
 *******************************/
/*******************************
 * 初米介紹 (.section_intro)
 * 品牌、餐點、社群
 *******************************/
.section_intro {
  /*******************************
   * 品牌 (.intro_brand)
   *******************************/
  /*******************************
   * 品牌 (.intro_brand)
   *******************************/
  /*******************************
   * 網美牆 (.intro_beauty_wall)
   *******************************/
}

.section_intro .intro_taste .title,
.section_intro .intro_taste .content {
  color: white;
}

.section_intro .intro_taste .menu_btn {
  border-color: white;
}

.section_intro .intro_taste .btn_label {
  color: white;
}

/********************************
 * 菜單-設定 (.section_menu)
 *******************************/
.section_menu h4,
.section_menu h5,
.section_menu h6 {
  font-family: "cwTeXYen", sans-serif;
  margin: 0;
}

/********************************
 * Footer-設定 (.section_footer)
 *******************************/
.section_footer {
  background-color: rgba(0, 0, 0, 0.7);
}

.section_footer .footer_title {
  font-size: 2rem;
}

.section_footer .footer_content {
  font-size: 1.8rem;
}

/********************************
 * 螢幕寬度 < xl-1200px
 *******************************/
/********************************
 * 螢幕寬度 < lg-992px
 *******************************/
/********************************
 * 螢幕寬度 < sm-540px
 *******************************/
@media screen and (max-width: 540px) {
  html {
    font-size: 8px;
  }
  p,
  span {
    font-size: 2rem;
  }
}

.footer {
  background-color: #fef5f3;
}

.card {
  background-color: #8ba2b7;
}

.icongroup {
  text-align: center;
  line-height: 50px;
}

.gotop {
  position: fixed;
  float: right;
  margin-top: 20px;
  right: 20px;
  bottom: 20px;
}

.copyright {
  text-align: center;
  margin-top: 40px;
}
/*# sourceMappingURL=style.css.map */